.books-list {
    &__container {
        padding: 10px 50px 30px 50px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 16px;
    }

    &__not-found {
        order: 2;

        &-img {
            max-width: 200px;
        }
    }
}

@media (max-width: 900px) {
    .books-list__container {
        grid-template-columns: repeat(auto-fill, minmax(calc(50% - 8px), 1fr));
    }
}

@media (max-width: 600px) {
    .books-list__container {
        grid-template-columns: 1fr;
    }
}
