.books-search-bar {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;

    &__input {
        flex: 1;
        max-width: 500px;
        height: 56px;
    }

    &__btn-add {
        white-space: nowrap;
        height: 56px;
    }
}
